* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#3f3f3f 0%, #181818 100%);
}

.main-container {
    background: #dadada;
    border-radius: 15px;
    margin: 1rem;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

h2 {
    text-align: center;
}

hr {
    width: 10rem;
    margin: 10px auto;
}

.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    margin: 8px;
    transition: all .3s ease;
    cursor: pointer;
}

.team-member:hover {
    transform: scale(1.1);
}

img {
    width: 130px;
    height: 150px;
    border-radius: 50%;
    margin: 50px;
}

h4,
p {
    text-align: center;
    font-size: 12px;
    margin: 7px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;

}

.popup h3 {
    text-align: center;
    margin-bottom: 10px;
}

.popup p {
    margin-bottom: 5px;
}

.popup img {
    width: 130px;
    height: 150px;
    border-radius: 50%;
    margin: 60px;
}

.popup button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #0056b3;
}
.popup-info {
    text-align: left;
    margin-left: 10px; 
}

